{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <!-- prettier-ignore -->
    <!-- Portfolio Archive Section 1-->
    <section class="sec-1-portfolio-archive" data-background="{% static 'assets/imgs/page/bg-home1-sec1.png' %}">
        <!-- Breadcumb -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb list-unstyled d-flex flex-row gap-2 align-items-center m-0 pe-0 py-4">
                            <li class="breadcrumb-item"><a href="index.html" class="text-600 fs-7 hover-dark">صفحه
                                    اصلی</a></li>
                            <li class="breadcrumb-item">
                                <span class="icon-shape icon-xxs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                                        fill="none">
                                        <path d="M6.125 4.5625L9.5625 7.84375L6.125 11.125" stroke="#626568"
                                            stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </li>
                            <li class="breadcrumb-item active text-dark fs-7" aria-current="page">نمونه کار</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="title">
                        <h4 class="mb-0 ds-5">
                            <span class="text-anime-style-2 text-uppercase">نمونه کار</span>
                            <span class="text-600 fw-regular fs-6 bg-white rounded-8 p-2">187 عکس</span>
                        </h4>
                        <p class="fs-7 mb-0 text-anime-style-1">پروژه‌های شخصی و اکتشافات خلاقانه‌ای که در طول سال‌ها
                            ساخته شده‌اند.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-2 ms-auto d-none d-md-block">
                    <div class="d-flex justify-content-end">
                        <div class="block-view-mode d-flex align-items-center position-relative gap-2">
                            <div class="view-mode-item btn-grid-view active">
                                <a href="portfolio-archive-1.html#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path
                                            d="M8 1H4C2.34315 1 1 2.34315 1 4V8C1 9.65685 2.34315 11 4 11H8C9.65685 11 11 9.65685 11 8V4C11 2.34315 9.65685 1 8 1Z"
                                            fill="#0E0E0F" />
                                        <path
                                            d="M20 1H16C14.3431 1 13 2.34315 13 4V8C13 9.65685 14.3431 11 16 11H20C21.6569 11 23 9.65685 23 8V4C23 2.34315 21.6569 1 20 1Z"
                                            fill="#0E0E0F" />
                                        <path
                                            d="M8 13H4C2.34315 13 1 14.3431 1 16V20C1 21.6569 2.34315 23 4 23H8C9.65685 23 11 21.6569 11 20V16C11 14.3431 9.65685 13 8 13Z"
                                            fill="#0E0E0F" />
                                        <path
                                            d="M20 13H16C14.3431 13 13 14.3431 13 16V20C13 21.6569 14.3431 23 16 23H20C21.6569 23 23 21.6569 23 20V16C23 14.3431 21.6569 13 20 13Z"
                                            fill="#0E0E0F" />
                                    </svg>
                                </a>
                            </div>
                            <div class="view-mode-item btn-list-view">
                                <a href="portfolio-archive-1.html#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                        fill="none">
                                        <rect width="22" height="10" rx="3" fill="#A7AAAF" />
                                        <rect y="12" width="22" height="10" rx="3" fill="#A7AAAF" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="block-tag mt-4">
                    <ul class="list-unstyled d-flex flex-wrap gap-1 pe-0">
                        <!-- prettier-ignore -->
                        <li class="carouselTicker__item mx-0">
                            <a href="portfolio-archive-1.html#" class="tag-item link-effect-2">
                                <span class="text">
                                    <span class="text1">پوشاک</span>
                                    <span class="text2">پوشاک</span>
                                </span>

                                <span class="number">
                                    <span class="odometer text-nowrap" data-count="68"></span>
                                </span>
                            </a>
                        </li>
                        <li class="carouselTicker__item mx-0">
                            <a href="portfolio-archive-1.html#" class="tag-item link-effect-2">
                                <span class="text">
                                    <span class="text1">تکنولوژی</span>
                                    <span class="text2">تکنولوژی</span>
                                </span>

                                <span class="number">
                                    <span class="odometer text-nowrap" data-count="85"></span>
                                </span>
                            </a>
                        </li>
                        <li class="carouselTicker__item mx-0">
                            <a href="portfolio-archive-1.html#" class="tag-item link-effect-2">
                                <span class="text">
                                    <span class="text1">دانش</span>
                                    <span class="text2">دانش</span>
                                </span>

                                <span class="number">
                                    <span class="odometer text-nowrap" data-count="120"></span>
                                </span>
                            </a>
                        </li>
                        <li class="carouselTicker__item mx-0">
                            <a href="portfolio-archive-1.html#" class="tag-item link-effect-2">
                                <span class="text">
                                    <span class="text1">اقتصاد</span>
                                    <span class="text2">اقتصاد</span>
                                </span>

                                <span class="number">
                                    <span class="odometer text-nowrap" data-count="89"></span>
                                </span>
                            </a>
                        </li>
                        <li class="carouselTicker__item mx-0">
                            <a href="portfolio-archive-1.html#" class="tag-item link-effect-2">
                                <span class="text">
                                    <span class="text1">سیاسی</span>
                                    <span class="text2">سیاسی</span>
                                </span>

                                <span class="number">
                                    <span class="odometer text-nowrap" data-count="52"></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row g-lg-5 g-4 pt-md-5 grid-view pt-4 d-flex">
                <!-- prettier-ignore -->
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-1.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">عطر</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">عطر Ajmal Raindrops</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-2.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">گرافیک</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">ماگ طرح FARGKLAR</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-3.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">عطر</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">عطر Versace Crystal Noir</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-4.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">کیف</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">کیف رودوشی زنانه</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-5.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">عطر</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">عطر ادکلن Armaf Club</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-6.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">ادکلن</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">ادکلن ورساچه</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-7.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">عطر</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">عطر Lalique Satine</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-8.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">کیف</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">کیف دوشی زنانه</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-9.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">برندسازی</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">بسته بندی Maan</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 card-portfolio-group">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-grid-10.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">Mobile APP</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0 fs-4">عطر Versace Bright</h4>
                                </a>
                                <p class="card-text d-none"></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row g-lg-5 g-4 pt-md-5 pt-4 list-view d-none">
                <!-- prettier-ignore -->
                <div class="col-12">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-list-1.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">برندسازی</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0">عطر Moiri</h4>
                                </a>
                                <p class="card-text d-block">یک پروژه برندسازی عطرسازیِ پالایش‌شده، که ظرافت را با هویتی
                                    مدرن و جاودانه ترکیب می‌کند و منعکس‌کننده‌ی پیچیدگی است.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-list-2.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">گرافیک</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0">Maan Packaging</h4>
                                </a>
                                <p class="card-text d-block">A minimal yet practical packaging design, created to
                                    highlight product value while maintaining visual clarity and style.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-list-3.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">گرافیک</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0">Kuchia موکاپ</h4>
                                </a>
                                <p class="card-text d-block">A clean and versatile mockup collection, carefully crafted
                                    to support professional presentations and brand showcases.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-list-4.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">برندسازی</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0">Meisa Cosmetics</h4>
                                </a>
                                <p class="card-text d-block">A fresh, feminine برندسازی concept designed for a
                                    contemporary beauty line, balancing elegance and modern appeal.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="article card-2 position-relative">
                        <div class="post-link hover-effect-1">
                            <a href="portfolio-details.html" class="card-img-top thumbnail">
                                <img src="{% static 'assets/imgs/other/portfolio/img-list-5.png' %}" alt="magzin"
                                    class="cover-image" />
                            </a>
                            <div class="card-corner">
                                <a href="portfolio-details.html" class="arrow-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path d="M13.75 6.75L19.25 12L13.75 17.25" stroke="#0E0E0F" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M19 12H4.75" stroke="#0E0E0F" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <div class="curve-one"></div>
                                <div class="curve-two"></div>
                            </div>
                            <div class="card-body hover-up">
                                <a href="portfolio-archive-1.html#" class="badge bg-3 fs-8 mb-2">Photography</a>
                                <a href="portfolio-details.html" class="hover-underline">
                                    <h4 class="card-title mb-0">Apaaam perfume</h4>
                                </a>
                                <p class="card-text d-block">A luxurious perfume identity, blending artistry and
                                    sophistication to create a distinctive and memorable brand image.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-5">
                <!-- prettier-ignore -->
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <nav>
                        <ul class="pagination gap-2">
                            <li class="page-item">
                                <a class="icon-lg pagination_item rounded-circle icon-shape"
                                    href="portfolio-archive-1.html#" aria-label="Previous">
                                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                        viewBox="0 0 22 22" fill="none">
                                        <path d="M12.5 6.5L17.2143 11L12.5 15.5" stroke="#0E0E0F" stroke-width="1.28571"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M16.9999 11H4.78564" stroke="#0E0E0F" stroke-width="1.28571"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg pagination_item rounded-circle icon-shape fs-18 current"
                                    href="portfolio-archive-1.html#"> 1 </a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg pagination_item rounded-circle icon-shape fs-18"
                                    href="portfolio-archive-1.html#"> 2 </a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg pagination_item rounded-circle icon-shape fs-18"
                                    href="portfolio-archive-1.html#"> 3 </a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg pagination_item rounded-circle icon-shape fs-18"
                                    href="portfolio-archive-1.html#"> 4 </a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg pagination_item rounded-circle icon-shape fs-18"
                                    href="portfolio-archive-1.html#"> 5 </a>
                            </li>
                            <li class="page-item d-none d-md-block">
                                <a class="icon-lg pagination_item rounded-circle icon-shape fs-18"
                                    href="portfolio-archive-1.html#"> ... </a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg pagination_item rounded-circle icon-shape"
                                    href="portfolio-archive-1.html#" aria-label="Next">
                                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                        viewBox="0 0 22 22" fill="none">
                                        <path d="M9.49993 6.5L4.78564 11L9.49993 15.5" stroke="#0E0E0F"
                                            stroke-width="1.28571" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M17.2143 11H5" stroke="#0E0E0F" stroke-width="1.28571"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!--Home 4 Section 6-->
    <section class="sec-6-home-4">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="block-newsletter bg-transparent border-0 position-relative">
                        <div class="newsletter text-center">
                            <div class="block-title">
                                <h4 class="mb-3 text-anime-style-3">عضویت در خبرنامه</h4>
                                <p class="mb-4">
                                    برای دریافت جدیدترین مطالب در خبرنامه ایمیلی ما عضو شوید <br
                                        class="d-none d-lg-block">
                                    پست‌ها مستقیماً به ایمیل شما ارسال می‌شوند.
                                </p>
                            </div>
                            <form action="portfolio-archive-1.html#" class="position-relative">
                                <div
                                    class="d-flex flex-wrap flex-md-nowrap justify-content-center gap-2 align-items-center mb-4">
                                    <input class="form-control" type="text" placeholder="ایمیل">
                                    <button class="btn btn-dark button-effect-1" type="submit">عضویت</button>
                                </div>
                                <span class="fs-7 fw-regular">شما فقط به‌روزرسانی‌های خبری معتبر را دریافت خواهید کرد -
                                    بدون هرزنامه.</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}